> <a routerLink="/fifith" routerLinkActive="active"> Camisetas</a>
<div class="col-lg-12">
    <h1 class="text-center"><label>Camisetas</label></h1>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisetas/img1.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 99,00</h5>
          <p class="card-text">Kit Com 2 Polos Masculinas Especiais Lisas</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisetas/img2.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 191,00</h5>
          <p class="card-text">Kit 10 Camisetas Masculinas Atacado</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisetas/img3.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 114,00</h5>
          <p class="card-text">Kit 5 Camisetas Slim Fit Básicas Algodão</p>
        </div>
      </div>
    </div>


    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisetas/img4.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 101,00</h5>
          <p class="card-text">5 Camisetas Masculinas Blusa Academia Exercício</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
        <div class="card">
          <img class="card-img-top" src='/assets/camisetas/img5.webp' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">R$ 135,00</h5>
            <p class="card-text">Kit 5 Camiseta Manga Longa Masculina Algodão Premium</p>
          </div>
        </div>
      </div>
      
    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisetas/img6.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">99,00</h5>
          <p class="card-text">Kit Com 3 Camisetas Gola Polo Marine Em Malha Piquet</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisetas/img7.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 34,00</h5>
          <p class="card-text">Camisa Térmica Segunda Pele Proteção Uv Extreme Thermo Mista</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisetas/img8.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 109,90</h5>
          <p class="card-text">Kit 3 Camisetas Plus Size Masculino G1 G2 G3 G4 G5 G6</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisetas/img9.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 199,00</h5>
          <p class="card-text">Kit 10 Pç Camisetas Long Line Masculinas Oversize Swag Atacado</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisetas/img10.webp' alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">R$ 78,00</h5>
          <p class="card-text">Kit 3 camiseras Fitness Dry Fit Poliéster Academia Feminina</p>
        </div>
      </div>
    </div>
    

</div>