> <a routerLink="/sixth" routerLinkActive="active"> Macacões</a>
<div class="col-lg-12">
    <h1 class="text-center"><label>Macacões</label></h1>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/macacoes/img1.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 154,00</h5>
          <p class="card-text">Macacão Original Para Veterinário Mecânico Jardineiro Ope</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/macacoes/img2.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 61,00</h5>
          <p class="card-text">Macaquinho Feminino Vestido Ciganinha</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/macacoes/img3.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 130,00</h5>
          <p class="card-text">Macacão Longo Feminino Cinto Botões Manga Curta</p>
        </div>
      </div>
    </div>


    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/macacoes/img4.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 44,00</h5>
          <p class="card-text">Macaquinho Feminino Detalhe No Ombro Lançamento Instagram</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
        <div class="card">
          <img class="card-img-top" src='/assets/macacoes/img5.webp' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">R$ 114,00</h5>
            <p class="card-text">Macacão Feminino Social Flare Decote Ziper Abertura Lateral</p>
          </div>
        </div>
      </div>
      
    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/macacoes/img6.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">105,00</h5>
          <p class="card-text">Macacão Longo Feminino Crepinho Cinto Manga Bufante</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/macacoes/img7.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 62,00</h5>
          <p class="card-text">Macacão Macaquinho Infantil Mini Diva Blogueirinha Verão</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/macacoes/img8.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 59,90</h5>
          <p class="card-text">Macacão Feminino Maxi Saruel Viscolycra - Preço De Fabrica</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/macacoes/img9.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 78,00</h5>
          <p class="card-text">Macacão Plus Size Longo Ciganinha Tendência</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/macacoes/img10.webp' alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">R$ 69,00</h5>
          <p class="card-text">Macacão Macaquinho Pantacourt Rsl</p>
        </div>
      </div>
    </div>
    

</div>