> <a routerLink="/eighth" routerLinkActive="active"> Shorts</a>
<div class="col-lg-12">
    <h1 class="text-center"><label>Shorts</label></h1>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/shorts/img1.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 56,00</h5>
          <p class="card-text">Short Destroide Cintura Desfiada</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/shorts/img2.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 28,00</h5>
          <p class="card-text">Short Feminino Tactel Liso 2 Bolsos</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/shorts/img3.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 56,90</h5>
          <p class="card-text">Short Jeans Ferminino blogueirinha
        </p>
        </div>
      </div>
    </div>


    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/shorts/img4.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 40,00</h5>
          <p class="card-text">Kit Casal Moda Praia Mozao 2 Short</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
        <div class="card">
          <img class="card-img-top" src='/assets/shorts/img5.webp' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">R$ 143,00</h5>
            <p class="card-text">Kit 5 Shorts Moletom Liso Com Amarração Academia Treino</p>
          </div>
        </div>
      </div>
      
    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/shorts/img6.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">127,00</h5>
          <p class="card-text">Kit 5 Bermuda Short Masculino Moletom Academia Fitnes Full</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/shorts/img7.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 100,00</h5>
          <p class="card-text">Bermuda Shorts Praia Masc Kit4 Mauricinho Estampas Animadas</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/shorts/img8.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 169,90</h5>
          <p class="card-text">Kit 10 Shorts Shortinho Malha Canelado Atacado Verão Moda</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/shorts/img9.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 164,00</h5>
          <p class="card-text">5 Shorts Praia Bermuda Masculino Modelos A Sua Escolha</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/shorts/img10.webp' alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">R$ 44,00</h5>
          <p class="card-text">Kit 5 Short Infantil 1 Ao 14 Anos Bermuda Meninas Sortidos</p>
        </div>
      </div>
    </div>
    

</div>