> <a routerLink="/fourth" routerLinkActive="active"> Camisas</a>
<div class="col-lg-12">
    <h1 class="text-center"><label>Camisas</label></h1>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisas/img1.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 184,00</h5>
          <p class="card-text">Kit 3 Camisas Masculina Manga Longa Social Slim</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisas/img2.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 57,00</h5>
          <p class="card-text">Camisa Social Masculina Slim Fit Luxo</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisas/img3.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 149,00</h5>
          <p class="card-text">Kit 06 Camisa Masculina Gola Polo Piquet Algodão</p>
        </div>
      </div>
    </div>


    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisas/img4.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 132,00</h5>
          <p class="card-text">Kit 5 Camisa Polo, Original Algodão Com Nota Fiscal</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
        <div class="card">
          <img class="card-img-top" src='/assets/camisas/img5.webp' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">R$ 74,00</h5>
            <p class="card-text">Camisa Social Masculina Slim Fit Manga Longa</p>
          </div>
        </div>
      </div>
      
    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisas/img6.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">109,00</h5>
          <p class="card-text">Kit C/3 Un Camisas Blusas Estampadas Long Line</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisas/img7.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 73,00</h5>
          <p class="card-text">Camisa Social Slim Premium 4% Lycra</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisas/img8.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 78,90</h5>
          <p class="card-text">Camisa Social Slim Fit Manga Longa Cor Jeans</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisas/img9.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 184,00</h5>
          <p class="card-text">Kit 3 Camisas Social Slim Fit Masculina Atacado Barata</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/camisas/img10.webp' alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">R$ 166,00</h5>
          <p class="card-text">Kit 3 Camisa Social Manga Longa Luxo Slim Fit</p>
        </div>
      </div>
    </div>
    

</div>