> <a routerLink="/ninth" routerLinkActive="active"> Ternos</a>
<div class="col-lg-12">
    <h1 class="text-center"><label>Ternos</label></h1>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/ternos/img1.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 320,00</h5>
          <p class="card-text">Kit Social. Paletó + Calça + Colete+ Camisa + Gravata</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/ternos/img2.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 184,00</h5>
          <p class="card-text">Terno Azul Marinho Completo (paletó + Calça) 2020 + Brinde</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/ternos/img3.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 189,90</h5>
          <p class="card-text">Terno Italiano Diversas Cores Slim Micro - Direto Da Fábrica</p>
        </div>
      </div>
    </div>


    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/ternos/img4.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 199,00</h5>
          <p class="card-text">Kit Terno Completo Blazer+calça+colete Premium</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
        <div class="card">
          <img class="card-img-top" src='/assets/ternos/img5.webp' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">R$ 62,00</h5>
            <p class="card-text">Blazer Social Fashion,plus Size Direto Da Fábrica</p>
          </div>
        </div>
      </div>
      
    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/ternos/img6.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">184,00</h5>
          <p class="card-text">Mega Oferta - Terno Slim Completo Fit 20,00 Desconto</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/ternos/img7.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 179,00</h5>
          <p class="card-text">Terno Italiano Slim - Várias Cores - Premium - Frete Grátis</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/ternos/img8.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 159,90</h5>
          <p class="card-text">Terno Infantil Masculino Slim Italiano Pespontado + 4 Cores</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/ternos/img9.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 269,00</h5>
          <p class="card-text">Ternos Masculinos Plus Size Azul Marinho Envio Imediato</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/ternos/img10.webp' alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">R$ 174,00</h5>
          <p class="card-text">Ternos Masculinos Plus Size Preto Envio Imediato Lançamento</p>
        </div>
      </div>
    </div>
    

</div>