<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="navbar-dark bg-dark">
            <div class="sidebar-header">
                <h3 class="text-center">Moon Modas</h3>
            </div>
            <ul class="list-unstyled components">
                  <li class="active"><a routerLink="/" routerLinkActive="active">Home</a></li>
                  <li>
                    <a href="#Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categorias</a>
                    <ul class="collapse list-unstyled" id="Submenu">
                      <li class="nav-item"><a class="nav-link" routerLink="/first-component" routerLinkActive="active">Agasalhos</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/second-component" routerLinkActive="active">Calçados</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/third-component" routerLinkActive="active">Calças</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/fourth-component" routerLinkActive="active">Camisas</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/fifth-component" routerLinkActive="active">Camisetas</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/sixth-component" routerLinkActive="active">Macacões</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/seventh-component" routerLinkActive="active">Saias</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/eighth-component" routerLinkActive="active">Shorts</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/ninth-component" routerLinkActive="active">Ternos</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="/tenth-component" routerLinkActive="active">Vestidos</a></li>
                    </ul>
                 </li> 
                 </ul> 
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark">
                    <span class="material-icons">menu</span> 
                    </button>
                   
                  </div>
                  
                 
            </nav>
          <div class="col-lg-12">
          <a routerLink="/" routerLinkActive="active">Home </a>
          <router-outlet></router-outlet>
          </div>
        </div>
    </div>    
    
</body>

