> <a routerLink="/second" routerLinkActive="active"> Calçados</a>
<div class="col-lg-12">
    <h1 class="text-center"><label>Calçados</label></h1>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcados/img1.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 59,00</h5>
          <p class="card-text">Tênis Street Iorc Preto Cano Curto Ollie</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcados/img2.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 39,00</h5>
          <p class="card-text">Tênis Meia Feminino Confortável Sem Cadarço</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcados/img3.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 34,00</h5>
          <p class="card-text">Chinelo Feminino Slim Cinza Gelo Havaianas</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcados/img4.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 77,00</h5>
          <p class="card-text">Kit Masculino Social Verniz Relógio Carteira</p>
        </div>
      </div>
    </div>


    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcados/img5.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 65,00</h5>
          <p class="card-text">Tenis, Feminino Academia Pra Mulher, Caminhada</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcados/img6.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">60,00</h5>
          <p class="card-text">Tenis Feminino Casual Sapatenis Original</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcados/img7.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 48,00</h5>
          <p class="card-text">Tênis Sapatilha Aquática Esportiva Trilha Cachoeira</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcados/img8.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 45,00</h5>
          <p class="card-text">Slide Feminino Ortopédico Confortável</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcados/img9.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 98,00</h5>
          <p class="card-text">Babuche Boaonda Brave Original Clog Masculino Ortopédico Top</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcados/img10.webp' alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">R$ 55,00</h5>
          <p class="card-text">Tenis Femino Casual Sapatenis Feminino Confortável Caminhada</p>
        </div>
      </div>
    </div>
    

</div>