> <a routerLink="/first" routerLinkActive="active"> Agasalhos</a>
<div class="col-lg-12">
    <h1 class="text-center"><label>Agasalhos</label></h1>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/agasalhos/D_NQ_NP_660774-MLB41291042108_032020-W.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 78,00</h5>
          <p class="card-text">Blusa De Frio Moletom Jaqueta Slim Masculino</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/agasalhos/D_NQ_NP_710229-MLB45465603137_042021-W.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 113,00</h5>
          <p class="card-text">Jaqueta Térmica Frigorífica Japona Câmara Fria</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/agasalhos/D_NQ_NP_721349-MLB42185371712_062020-W.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 169,00</h5>
          <p class="card-text">Jaqueta Couro Grossa Moto Resiste Água Frio</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='assets/agasalhos/D_NQ_NP_736749-MLB45528023305_042021-W.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 49,00</h5>
          <p class="card-text">Parka Feminina Jaqueta Casaco Sobretudo</p>
        </div>
      </div>
    </div>


    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/agasalhos/D_NQ_NP_823127-MLB46968515653_082021-W.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 73</h5>
          <p class="card-text">Capa Manto Akatsuki Naruto Cosplay</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/agasalhos/D_NQ_NP_889711-MLB45093831571_032021-W.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 148,00</h5>
          <p class="card-text">Conjunto De Moletom Calça E Blusa De Frio</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/agasalhos/D_NQ_NP_923699-MLB47981409809_102021-W.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 158,00</h5>
          <p class="card-text">Conjunto Blusa + Calça Moletom + boné Infantil</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/agasalhos/D_NQ_NP_930112-MLB46285360794_062021-W.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 80</h5>
          <p class="card-text">Jaqueta Jeans Moda Feminina Blusa Feminina</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/agasalhos/D_NQ_NP_995262-MLB48318836011_112021-W.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 84</h5>
          <p class="card-text">Casaco Moletom Blusa De Frio Masculino De Ziper Esporte</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/agasalhos/D_NQ_NP_669689-MLB48109981738_112021-O.webp' alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">R$ 65,00</h5>
          <p class="card-text">Blusa Moletom Canguru Casaco Oh Yes ! Tumblr Promoção Top</p>
        </div>
      </div>
    </div>
    

</div>