> <a routerLink="/third" routerLinkActive="active"> Calças</a>
<div class="col-lg-12">
    <h1 class="text-center"><label>Calças</label></h1>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcas/img1.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 170,00</h5>
          <p class="card-text">Kit 3 Calça Jeans Cargo Camuflada Masculina</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcas/img2.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 78,00</h5>
          <p class="card-text">Calça Jeans Wide Leg Pantalona Moda Feminina</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcas/img4.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 54,00</h5>
          <p class="card-text">Calças Jeans Sarja Skinny C/ Lycra Original</p>
        </div>
      </div>
    </div>


    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcas/img5.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 157,00</h5>
          <p class="card-text">Kit 3 Calça Jeans Slim Original Elastano Lycra</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
        <div class="card">
          <img class="card-img-top" src='/assets/calcas/img3.webp' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">R$ 46,00</h5>
            <p class="card-text">Calça Jeans Feminina Luxo Baratas Cintura Alta</p>
          </div>
        </div>
      </div>
      
    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcas/img6.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">55,00</h5>
          <p class="card-text">Calças Camuflada Jogger Com Punho Elastico</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcas/img7.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 48,00</h5>
          <p class="card-text">Calças Masculina Sarja Slim Fit C Lycra</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcas/img8.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 143,00</h5>
          <p class="card-text">3 Calça Jeans Feminina Cintura Alta Com Lycla</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcas/img9.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 220,00</h5>
          <p class="card-text">Calça Moletom Treino Academia Confortável 2020 Lançamento</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/calcas/img10.webp' alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">R$ 219,00</h5>
          <p class="card-text">Kit 4-calça De Uniforme Brim Pesado - Com Faixa Refletiva</p>
        </div>
      </div>
    </div>
    

</div>