> <a routerLink="/seventh" routerLinkActive="active"> Saias</a>
<div class="col-lg-12">
    <h1 class="text-center"><label>Saias</label></h1>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/saias/img1.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 73,00</h5>
          <p class="card-text">Saias Evangélicas Anagrom +de 60 Modelos</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/saias/img2.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 54,00</h5>
          <p class="card-text">Saia Midi Godê Evangélica Laço Moda Feminina</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/saias/img3.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 38,00</h5>
          <p class="card-text">Saias Pregueadas Colegial Cosplay Seifuku Kawaii</p>
        </div>
      </div>
    </div>


    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/saias/img4.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 49,00</h5>
          <p class="card-text">Saia Curta Bengaline Fenda Cintura Alta</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
        <div class="card">
          <img class="card-img-top" src='/assets/saias/img5.webp' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">R$ 120,00</h5>
            <p class="card-text">Kit 3 Saia Jeans Feminina Moda Evangelica Atacado Variadas</p>
          </div>
        </div>
      </div>
      
    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/saias/img6.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">38,00</h5>
          <p class="card-text">Saia Moda Evangélica Midi Bengaline Cintura Alta Lapis</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/saias/img7.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 79,00</h5>
          <p class="card-text">Saia Envelope Midi Longa Transpassada Onça Animal top</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/saias/img8.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 75,90</h5>
          <p class="card-text">Conjunto Malibu E Saia Midi Verão Gringa Blusa Tendência</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/saias/img9.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 54,00</h5>
          <p class="card-text">Saia Longa Lisa Plissada Social Fashion Elegante</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/saias/img10.webp' alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">R$ 78,00</h5>
          <p class="card-text">Saia Jeans Longa Botões Tendência Evangélica</p>
        </div>
      </div>
    </div>
    

</div>