> <a routerLink="/tenth" routerLinkActive="active"> Vestidos</a>
<div class="col-lg-12">
    <h1 class="text-center"><label>Vestidos</label></h1>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/vestidos/img1.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 86,00</h5>
          <p class="card-text">Kit 3 Vestidos Feminino Festa Lançamento 2021 top</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/vestidos/img2.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 115,00</h5>
          <p class="card-text">Vestido Longo Festa Madrinha Casamento Ombro A Ombro</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/vestidos/img3.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 135,90</h5>
          <p class="card-text">Vestido Feminino Crepinho Midi Mullet Babados Decote V Cinto</p>
        </div>
      </div>
    </div>


    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/vestidos/img4.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 197,00</h5>
          <p class="card-text">Vestido Longo De Festa, Madrinha Com Fenda Lateral 256</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
        <div class="card">
          <img class="card-img-top" src='/assets/vestidos/img5.webp' alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">R$ 156,00</h5>
            <p class="card-text">Vestido Longo Florido Veste Do P Ao Gg Primavera Verão Lindo</p>
          </div>
        </div>
      </div>
      
    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/vestidos/img6.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">57,00</h5>
          <p class="card-text">Vestido Feminino Soltinho Costa Nua Vestidinho Frente Única</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/vestidos/img7.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 78,00</h5>
          <p class="card-text">Vestido Midi Social Festa Moda Evangélica Com Cinto Botao</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/vestidos/img8.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 38,90</h5>
          <p class="card-text">Vestido Feminino Longo De Alcinha Com Fendas moda 2021</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/vestidos/img9.webp' alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">R$ 120,00</h5>
          <p class="card-text">Vestido Longo Festa Madrinha</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3" style="float:left;">
      <div class="card">
        <img class="card-img-top" src='/assets/vestidos/img10.webp' alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">R$ 177,00</h5>
          <p class="card-text">Vestido Midi Mulher Virtuosa</p>
        </div>
      </div>
    </div>
    

</div>